<div class="page__footer">
        <footer class="footer">
          <div class="footer__wrapper wrapper">
            <div class="footer__top">
              <div class="footer__card">
                <div class="dev-card">
                  <div class="dev-card__title">GitHub and Mythril are <br> connected by Mad Devs</div>
                  <div class="dev-card__icon">
                    <img src="https://rawcdn.githack.com/maddevsio/heimdall/dfd924e7773a67c3f3b70e2b1b99d05251017e1c/markup/img/m-dlogo.svg" 
                      alt="Mad Mevs">
                  </div>
                  <div class="dev-card__link">
                    <a href="https://maddevs.io/" target="_blank">https://maddevs.io/</a>
                  </div>
                </div>
              </div>
              <div class="footer__card">
                <div class="dev-card">
                  <div class="dev-card__title">All the magic happened <br> thanks to Mythril</div>
                  <div class="dev-card__icon">
                    <img src="https://gitcdn.link/repo/maddevsio/heimdall/master/markup/img/mythril.svg" 
                      alt="Mythril">
                  </div>
                  <div class="dev-card__link">
                    <a href="https://mythril.ai/" target="_blank">https://mythril.ai/</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer__bottom">
              <div class="footer__text">To express gratitude or to get consultation or assistance in the system implementation write to <a href="mailto:rock@maddevs.io">rock@maddevs.io</a></div>
              <div class="footer__social">
                <ul class="social-main">
                  <li class="social-main__item">
                    <a href="https://github.com/maddevsio" target="_blank">
                      <img src="https://rawcdn.githack.com/maddevsio/heimdall/dfd924e7773a67c3f3b70e2b1b99d05251017e1c/markup/img/git.svg" 
                        alt="GitHub">
                    </a>
                  </li>
                  <li class="social-main__item">
                    <a href="https://www.instagram.com/maddevsio/" target="_blank">
                      <img src="https://rawcdn.githack.com/maddevsio/heimdall/dfd924e7773a67c3f3b70e2b1b99d05251017e1c/markup/img/insta.svg" 
                        alt="Instagram">
                    </a>
                  </li>
                  <li class="social-main__item">
                    <a href="https://twitter.com/MadDevsIO" target="_blank">
                      <img src="https://rawcdn.githack.com/maddevsio/heimdall/dfd924e7773a67c3f3b70e2b1b99d05251017e1c/markup/img/tw.svg" 
                        alt="Twitter">
                    </a>
                  </li>
                  <li class="social-main__item">
                    <a href="https://blog.maddevs.io/" target="_blank">
                      <img src="https://rawcdn.githack.com/maddevsio/heimdall/dfd924e7773a67c3f3b70e2b1b99d05251017e1c/markup/img/medium.svg" 
                        alt="Medium">
                    </a>
                  </li>
                  <li class="social-main__item">
                    <a href="https://t.me/maddevsio" target="_blank">
                      <img src="https://rawcdn.githack.com/maddevsio/heimdall/dfd924e7773a67c3f3b70e2b1b99d05251017e1c/markup/img/telek.svg" 
                        alt="Telegram">
                    </a>
                  </li>
                  <li class="social-main__item">
                    <a href="https://www.slideshare.net/maddevs/presentations" target="_blank">
                      <img src="https://rawcdn.githack.com/maddevsio/heimdall/dfd924e7773a67c3f3b70e2b1b99d05251017e1c/markup/img/pres.svg" 
                        alt="Pres">
                    </a>
                  </li>
                  <li class="social-main__item">
                    <a href="https://www.youtube.com/playlist?list=PLsmdb5W8ytypyXt1ut3lfBOnOZnDNqYIN" target="_blank">
                      <img src="https://rawcdn.githack.com/maddevsio/heimdall/dfd924e7773a67c3f3b70e2b1b99d05251017e1c/markup/img/you.svg" 
                        alt="YouTube">
                    </a>
                  </li>
                  <li class="social-main__item">
                    <a href="https://www.facebook.com/maddevsio" target="_blank">
                      <img src="https://rawcdn.githack.com/maddevsio/heimdall/dfd924e7773a67c3f3b70e2b1b99d05251017e1c/markup/img/fb.svg" 
                        alt="Facebook">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="footer__copyright">© Mad Devs <i class="icon-rock"></i>, 2018</div>
            </div>
          </div>
        </footer>
      </div>