<div class="page__header">
    <header class="header">
        <div class="header__wrapper wrapper">
            <div class="header__logo">
              <div class="logo">
                <a href="/">
                  <img src="https://rawcdn.githack.com/maddevsio/heimdall/dfd924e7773a67c3f3b70e2b1b99d05251017e1c/markup/img/logo.svg" alt="HEIMDALL">
                </a>
              </div>
            </div>
        </div>
    </header>
</div>