{% extends '_layout.jinja2' %} 
{% block content %}
<style>
  .hide {
    display: none;
  }
  canvas {
    display: block;
    vertical-align: bottom;
  }
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #271c2c
  }
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .text {
    text-align: center;
    color: #fff;
    max-width: 90%;
    padding: 2em 3em;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 2px #131415;
    margin: auto;
  }
  .badge-generator, .get-badge{
    margin: auto
  }
  .footer-copyright{
    width: 100%;
    text-align: center;
    color: white;
    margin-top: auto;
    line-height: 5px;
    font-size: 12px;
  }
  .footer-copyright a {
    color: #1EAEDB;
  }
</style>
<script>
  window.onload = function () {
    Particles.init({
      selector: '#particles-js',
      connectParticles: true,
      maxParticles: 150,
      color: ['#DA0463', '#404B69', '#DBEDF3'],
      responsive: [{
        breakpoint: 300,
        options: {
          color: '#00C9B1',
          maxParticles: 60,
          connectParticles: true
        }
      },
      {
        breakpoint: 1000,
        options: {
          color: ['#DA0463', '#404B69', '#DBEDF3'],
          maxParticles: 100,
          connectParticles: true
        }
      }]
    });
  };
</script>
<div class="container">
  <div class="section text">
    <div class="step-1">
      <h3 class="section-heading">Heimdall</h3>
      <p class="section-description">Ethereum Smart Contracts Security Monitoring</p>
      <button class="button button-primary badge-generator">Get the badge</button>
    </div>
    <div class="step-2 form hide">
      <div>
        <p class="section-description">Github repository path (owner/repository)</p>
        <input type="text" class="repo-path" placeholder="maddevsio/heimdall">
      </div>
      <button class="button button-primary get-badge">Markdown code</button>
    </div>
    <div class="step-3 markdown hide">
      <h3 class="section-heading">Place this code to README.md</h3>
      <textarea style="width:450px"></textarea>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <p><a href="https://maddevs.io/"> maddevs.io</a></p>
    <p><a href="https://github.com/maddevsio/heimdall/">github.com/maddevsio/heimdall</a></p>
    <p>&copy; <script>  document.write(new Date().getFullYear()); </script>, Company</p>
  </div>
  <!-- Copyright -->
</div>
<script>
  $(function () {
    var btn = $('.badge-generator');
    var form = $('.form');
    var getBadge = $('.get-badge');
    var repoPath = $('.repo-path');
    var markdown = $('.markdown');
    btn.on('click', function (e) {
      form.show();
      btn.hide();
      $('.step-1').hide();
    });
    getBadge.on('click', function () {
      var path = repoPath.val();
      if (path === ""){
        alert("Please input repository ");
      }
      else{
      markdown.find('textarea').html(`[![Heimdall Scanner](https://heimdall.maddevs.io/badge/github/${path})](https://heimdall.maddevs.io/report/github/${path})`)
      markdown.show();
      $('.step-2').hide();
      $('.step-3').show();
      }
    })
  });
</script> 
{% endblock %}